In [1]:
print(3+3)

6

In [3]:
# hello '''

In [2]:
name='kevin'
Name='sheliya'
print(name)
print(Name)

kevin
sheliya

In [6]:
#Indentation
age=20
if age>18:
    print("hello")

print(age)

hello
20

In [7]:
## Line Continuation
##Use a backslash (\) to continue a statement to the next line
total = 1+2+3+4+5+6\
    +7+8+9+0
print(total)

45

In [10]:
name="hello"
age=18
print(type(age))
print(type(name))

<class 'int'>
<class 'str'>

In [9]:
type(age)

int

type convesion

In [12]:
age=30
print(type(age))

age1=str(age)
print(age1)
print(type(age1))

<class 'int'>
30
<class 'str'>

In [17]:
height=5.5
print(type(height))

<class 'float'>

In [18]:
float(int(height))

5.0

In [19]:
age=int(input("enter your age"))
print(age,type(age))

5 <class 'int'>

In [1]:
n1=int(input("enter first number"))
n2=int(input("enter second number"))

sum=n1+n2
diff=n1-n2
mul=n1*n2
div=n1/n2

print("sum :",sum)
print("diff :",diff)
print("mul :",mul)
print("div :",div)

sum : 7
diff : 3
mul : 10
div : 2.5

In [4]:
age=10
print(type(age))

<class 'int'>

In [5]:
help

Type help() for interactive help, or help(object) for help about object.

In [7]:
a=True
print(type(a))

<class 'bool'>

In [9]:
c=10
d=20

c==d
print(c==d)

False

In [10]:
print(type(c==d))

<class 'bool'>

In [13]:
r = "hello " + str(5)
print(r)

hello 5

In [14]:
## Arithmathic operation 

a=10
b=4

result=a//b
div=a/b
modul=a%b
power1=a**2


print(result)
print(div)
print(modul)
print(power1)

2
2.5
2
100

In [16]:
X=True
Y=True

result = X and Y
print(result)

True

In [17]:
X=True
Y=False

result =X and Y
print(result)

False

In [18]:
X=True
Y=True

result =X or Y
print(result)

True

In [20]:
X=True
Y=False

result =X or Y
print(result)

True

In [21]:
x=False
not x

True

In [26]:
num3=float(input("plaese enternumber1 :"))
num4=float(input("plaese enternumber1 :"))

exponentiation = num3 ** num4
print(exponentiation)

32.0

In [1]:
## Simple Calculator

# Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Performing arithmetic operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_division = num1 // num2
modulus = num1 % num2
exponentiation = num1 ** num2

# Displaying results
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)
print("Floor Division:", floor_division)
print("Modulus:", modulus)
print("Exponentiation:", exponentiation)

Addition: 12.0
Subtraction: 8.0
Multiplication: 20.0
Division: 5.0
Floor Division: 5.0
Modulus: 0.0
Exponentiation: 100.0