In [1]:
def square(num):
    return num*num

num=[1,2,3,4,5,6,7]
sqr_num=list(map(square,num))
print(sqr_num)

[1, 4, 9, 16, 25, 36, 49]

In [5]:
#using lamnba function with map
num=[1,2,3,4,5,6,7,8,9]
list1=list(map(lambda x:x*x,num))
print(list1)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
#using multipal interables
num1=[1,2,3,4,5]
num2=[6,7,8,9,0]

addition=list(map(lambda x,y:x+y,num1,num2))
print(addition)

[7, 9, 11, 13, 5]

In [9]:
#convert charater to intergers
list1=['1','2','3','4','5']

numbers=list(map(int,list1))
print(numbers)

[1, 2, 3, 4, 5]

In [10]:
#covert upper case 

lower1=["banana","orange","kiwi"]

upper1=list(map(str.upper,lower1))
print(upper1)

['BANANA', 'ORANGE', 'KIWI']

FILTER FUNCTION

In [2]:
def even(num):
    return num%2==0

num1=[1,2,3,4,5,6,4,7,8]

list(filter(even,num1))

[2, 4, 6, 4, 8]

In [15]:
#using lambda function 

age=[18,19,15,7,11,22,15,20,3,45,70]

valid_age=list(filter(lambda x:x>18,age))
print(valid_age)

[19, 22, 20, 45, 70]

In [16]:
valid_age=list(filter(lambda x:x>18 and x%2==0,age))
print(valid_age)

[22, 20, 70]