In [8]:
import sqlite3

In [9]:
connection=sqlite3.connect('example.db')
connection

In [10]:
cursor=connection.cursor()

In [11]:
## create table 
cursor.execute('''
Create Table If Not Exists employee(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department text                                  
    )
''')

## commit the changes
connection.commit()

In [12]:
cursor.execute('''
Select * from employee
''')

In [13]:
## insert the data in sqlite table
cursor.execute('''
Insert Into employee(name,age,department)
               values('Krish',32,'Data Scientist')
               
''')

cursor.execute('''
Insert Into employee(name,age,department)
               values('john',34,'information tech.')
''')

cursor.execute('''
Insert into employee(name,age,department)
               values('wick',45,'finace')
''')

## connection commit
connection.commit()

In [14]:
## Query the data from the table
cursor.execute('Select * from employee')
rows=cursor.fetchall()

## print queried data
for row in rows:
    print(row)

(1, 'Krish', 32, 'Data Scientist')
(2, 'john', 34, 'information tech.')
(3, 'wick', 45, 'finace')

In [17]:
cursor.execute('''
Update employee Set age=30 where name='Krish'
''')

connection.commit()

In [18]:
## Query the data from the table
cursor.execute('Select * from employee')
rows=cursor.fetchall()

## print queried data
for row in rows:
    print(row)

(1, 'Krish', 30, 'Data Scientist')
(2, 'john', 34, 'information tech.')
(3, 'wick', 45, 'finace')

In [20]:
## delete the data from the table
cursor.execute('''
Delete from employee where name ='wick'
''')

connection.commit()

In [21]:
## Query the data from the table
cursor.execute('Select * from employee')
rows=cursor.fetchall()

## print queried data
for row in rows:
    print(row)

(1, 'Krish', 30, 'Data Scientist')
(2, 'john', 34, 'information tech.')