In [1]:
import sqlite3

In [2]:
def createdatabase():
    connection=sqlite3.connect('test.db')
    cursor=connection.cursor()
    connection.close()
    print("successfully datebase created")

createdatabase()

successfully datebase created

In [4]:
def cre_table():
    connection=sqlite3.connect('test.db')
    cursor=connection.cursor()
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS employees(
    id INTEGER Primary key,
    name TEXT NOT NULL,
    age INTEGER,
    dept TEXT NOT NULL
        )
''')
    connection.commit()
    connection.close()
    print("table  employee successfull created")

cre_table()

table  employee successfull created

In [6]:
def inset_record(id,name,age,dept):
    connection=sqlite3.connect('test.db')
    cursor=connection.cursor()
    cursor.execute('''
    INSERT INTO employees (id, name, age, dept)
        VALUES (?, ?, ?, ?)
    ''', (id, name, age, dept)
)
    connection.commit()
    connection.close()
    print("insert record successfully")


inset_record(1,'john',38,'data science')

insert record successfully

In [8]:
inset_record(2, 'Bob', 25, 'Engineering')
inset_record(3, 'Charlie', 28, 'Sales')
inset_record(4, 'David', 35, 'Marketing')
inset_record(5, 'Eve', 22, 'HR')

insert record successfully
insert record successfully
insert record successfully
insert record successfully

In [10]:
def display():
    connection=sqlite3.connect('test.db')
    cursor=connection.cursor()
    cursor.execute('Select * from employees')
    rows=cursor.fetchall()

## print queried data
    for row in rows:
        print(row)

display()

(1, 'john', 38, 'data science')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 28, 'Sales')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')

In [18]:
def insert_multipal_record(employees):
    connection=sqlite3.connect('test.db')
    cursor=connection.cursor()
    try:
        cursor.executemany('''
         INSERT INTO  employees (id,name,age,dept) VALUES (?,?,?,?)
         ''',employees)
        connection.commit()
        print("all record successfull added")
    except Exception as e:
        connection.rollback()
        print("erroe accured")
        print(e)
    finally:
        connection.close()


employees=[
    (6, 'Frank', 40, 'Finance'),
    (7, 'Grace', 29, 'Engineering'),
    (8, 'Hannah', 35, 'Marketing'),
    (9, 'Ivan', 38, 'Sales'),
   # (6, 'Jack', 45, 'HR') 
    ]

insert_multipal_record(employees)

all record successfull added

In [19]:
def display():
    connection=sqlite3.connect('test.db')
    cursor=connection.cursor()
    cursor.execute('Select * from employees')
    rows=cursor.fetchall()

## print queried data
    for row in rows:
        print(row)

display()

(1, 'john', 38, 'data science')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 28, 'Sales')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')
(6, 'Frank', 40, 'Finance')
(7, 'Grace', 29, 'Engineering')
(8, 'Hannah', 35, 'Marketing')
(9, 'Ivan', 38, 'Sales')