In [2]:
import pandas as pd
import numpy as np

df=pd.DataFrame(np.random.randint(1,100, size=(6,4)),columns=['A','B','C','D'])
print(df)

df.set_index('A',inplace=True)
print("set index :\n")
print(df)

    A   B   C   D
0   6  47  86  52
1  70  31  64  96
2  27  91  98  91
3  41  94  88  44
4  47  78  86  47
5  26  49  97  73
set index :

     B   C   D
A
6   47  86  52
70  31  64  96
27  91  98  91
41  94  88  44
47  78  86  47
26  49  97  73

In [3]:
df=pd.DataFrame(np.random.randint(1,100 ,size=(3,3)),columns=['A','B','C'],index=['X','Y','Z'])
print("original data : \n",df)

element=df.at['Y','B']
print("element y rows and b cols :",element)

original data :
     A   B   C
X  98  15  97
Y  50  92  26
Z  30  90  48
element y rows and b cols : 92

In [4]:
df=pd.DataFrame(np.random.randint(1,100,size=(5,3)),columns=['A','B','C'])
print(df)

df['D']=df['A']*df['B']
print("additng a new columns : \n",df)

    A   B   C
0  24  97   5
1  27  63  17
2  30  84  69
3  26  30  82
4  63  10  12
additng a new columns :
     A   B   C     D
0  24  97   5  2328
1  27  63  17  1701
2  30  84  69  2520
3  26  30  82   780
4  63  10  12   630

In [5]:

df=pd.DataFrame(np.random.randint(1,10 ,size=(5,3)),columns=['A','B','C'])
print(df)

row_sum=df.sum(axis=1)
print("row_sum : \n",row_sum)

cols_sum=df.sum(axis=0)
print("column sum : \n",cols_sum)

   A  B  C
0  6  4  8
1  3  2  2
2  5  7  3
3  1  5  2
4  3  1  4
row_sum :
 0    18
1     7
2    15
3     8
4     8
dtype: int64
column sum :
 A    18
B    19
C    19
dtype: int64

In [6]:
df=pd.DataFrame(np.random.randint(1,10,size=(5,3)),columns=['A','B','C'])
print(df)

df.iloc[0,1]=np.nan
df.iloc[1,2]=np.nan
df.iloc[4,0]=np.nan
print("null value :\n",df)
print("mean value :\n",df.mean())

df.fillna(df.mean(),inplace=True)
print("null value fill with mean :\n",df)

   A  B  C
0  9  5  8
1  8  8  2
2  7  5  1
3  9  2  1
4  6  5  3
null value :
      A    B    C
0  9.0  NaN  8.0
1  8.0  8.0  NaN
2  7.0  5.0  1.0
3  9.0  2.0  1.0
4  NaN  5.0  3.0
mean value :
 A    8.25
B    5.00
C    3.25
dtype: float64
null value fill with mean :
       A    B     C
0  9.00  5.0  8.00
1  8.00  8.0  3.25
2  7.00  5.0  1.00
3  9.00  2.0  1.00
4  8.25  5.0  3.00

In [7]:
df=pd.DataFrame(np.random.randint(1,10,size=(5,3)),columns=['A','B','C'])
print(df)

df.iloc[0,1]=np.nan
df.iloc[1,2]=np.nan
df.iloc[4,0]=np.nan
print("null value :\n",df)

df.dropna(inplace=True)
print("null value fill with mean :\n",df)

   A  B  C
0  5  6  1
1  5  4  7
2  7  8  9
3  5  4  1
4  2  4  3
null value :
      A    B    C
0  5.0  NaN  1.0
1  5.0  4.0  NaN
2  7.0  8.0  9.0
3  5.0  4.0  1.0
4  NaN  4.0  3.0
null value fill with mean :
      A    B    C
2  7.0  8.0  9.0
3  5.0  4.0  1.0

In [8]:
df=pd.DataFrame({'Category': np.random.choice(['A','B','C'],size=10),'Values':np.random.randint(1,50,size=10)})
print(df)

group_by=df.groupby('Category')['Values'].agg('sum','mean')
print("group by value :",group_by)

  Category  Values
0        A      32
1        C       4
2        C      13
3        C      39
4        B      22
5        A      22
6        A      36
7        C      49
8        C      15
9        C      11
group by value : Category
A     90
B     22
C    131
Name: Values, dtype: int32

In [9]:
df=pd.DataFrame({'Product': np.random.choice(['Home','grosary','electrical'],size=10),'Category':np.random.choice(['A','B','C'],size=10),'sales':np.random.randint(1,20,size=10)})
print(df)

group_by=df.groupby('Category')['sales'].sum()
print(group_by)

      Product Category  sales
0  electrical        A      1
1        Home        B      8
2  electrical        C      6
3        Home        C     18
4     grosary        C     10
5  electrical        A     16
6  electrical        B     15
7  electrical        B      9
8  electrical        C     16
9  electrical        C     15
Category
A    17
B    32
C    65
Name: sales, dtype: int32

In [10]:
df1 = pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Value1': np.random.randint(1, 100, size=4)})
df2 = pd.DataFrame({'Key': ['A', 'B', 'C', 'E'], 'Value2': np.random.randint(1, 100, size=4)})
print("data frame 1st: ",df1)
print("data frame 2nd: ",df2)

merge=pd.merge(df1,df2,on='Key')
print("merge data :\n",merge)

data frame 1st:    Key  Value1
0   A      52
1   B      54
2   C      19
3   D      72
data frame 2nd:    Key  Value2
0   A      34
1   B      63
2   C      39
3   E      89
merge data :
   Key  Value1  Value2
0   A      52      34
1   B      54      63
2   C      19      39

In [13]:
df1=pd.DataFrame({'A':np.random.randint(1,100,size=5),'B':np.random.randint(1,100,size=5)})
df2=pd.DataFrame({'C':np.random.randint(1,100,size=5),'D':np.random.randint(1,100,size=5)})
print("df1 : \n",df1)
print("df2 : \n",df2)

merge_row=pd.concat([df1,df2],axis=0)
print("merge_row : \n",merge_row)

merge_cols=pd.concat([df1,df2],axis=1)
print("merge column : \n",merge_cols)

df1 :
     A   B
0   7  27
1  10   9
2  51  31
3  68  11
4  56  87
df2 :
     C   D
0  76  94
1   9  37
2  86  89
3  11  76
4  76  18
merge_row :
       A     B     C     D
0   7.0  27.0   NaN   NaN
1  10.0   9.0   NaN   NaN
2  51.0  31.0   NaN   NaN
3  68.0  11.0   NaN   NaN
4  56.0  87.0   NaN   NaN
0   NaN   NaN  76.0  94.0
1   NaN   NaN   9.0  37.0
2   NaN   NaN  86.0  89.0
3   NaN   NaN  11.0  76.0
4   NaN   NaN  76.0  18.0
merge column :
     A   B   C   D
0   7  27  76  94
1  10   9   9  37
2  51  31  86  89
3  68  11  11  76
4  56  87  76  18

In [27]:
date_rng = pd.date_range(start='2022-01-01', end='2022-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

monthly_mean=df.resample('M').mean()
print('monthly_mean :\n',monthly_mean)

Original DataFrame:
            data
date
2022-01-01    80
2022-01-02    80
2022-01-03    60
2022-01-04    22
2022-01-05    52
...          ...
2022-12-27    65
2022-12-28     1
2022-12-29    20
2022-12-30    67
2022-12-31    70

[365 rows x 1 columns]
monthly_mean :
                  data
date
2022-01-31  54.451613
2022-02-28  47.750000
2022-03-31  50.451613
2022-04-30  43.333333
2022-05-31  51.096774
2022-06-30  52.800000
2022-07-31  48.354839
2022-08-31  46.129032
2022-09-30  57.000000
2022-10-31  49.935484
2022-11-30  48.933333
2022-12-31  51.677419

C:\Users\D E L L\AppData\Local\Temp\ipykernel_16904\2101108633.py:8: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_mean=df.resample('M').mean()

In [35]:
date_rng=pd.date_range(start='2021-01-01',end='2021-12-31',freq='D')
df=pd.DataFrame(date_rng,columns=['date'])
df['data']=np.random.randint(0,100,size=(len(date_rng)))
df.set_index('date',inplace=True)
print(df)

rolling_mean=df.rolling(window=7).mean()
print("rolling_mean :\n",rolling_mean)

            data
date
2021-01-01    64
2021-01-02    40
2021-01-03    87
2021-01-04    85
2021-01-05    80
...          ...
2021-12-27    32
2021-12-28    58
2021-12-29    32
2021-12-30    98
2021-12-31     3

[365 rows x 1 columns]
rolling_mean :
                  data
date
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
...               ...
2021-12-27  69.857143
2021-12-28  66.285714
2021-12-29  60.285714
2021-12-30  66.285714
2021-12-31  54.000000

[365 rows x 1 columns]